body {
    background-color: #CCC;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-box {
    width: 90%;
    max-width: 300px;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px;
    /* Adjust the size of the logo as needed */
    height: auto;
    margin: 0 auto;
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a.forgot-password {
    align-self: flex-end;
    margin-bottom: 30px;
    /* Increased margin for more space */
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

button.login-button {
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}